*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a7e9f6;
}
span{
    color: red;
}

#myForm input{
    background-color: transparent;
    border: 1px solid ;
}
#myForm .erroner{
    border: 1px solid red;
    background-color: rgb(214, 102, 102);
    opacity: 0.15;
}
#myForm .valider{
    border: 2px solid green;
    background-color: rgb(71, 136, 71);
    opacity: 0.15;
}
#error{
    color: red;
}